<a href="https://colab.research.google.com/github/Hatreck1/Progra_III_2024/blob/main/Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola mundo")
nombre = "Gilberto Lizama"

print("hola", nombre, ", inicial: ", nombre[0], nombre[6])

hola mundo
hola Gilberto Lizama , inicial:  G t

EJERCICIO, crear un programa en python que sume dos numeros

In [ ]:
print("ingrese el primer numero")
num1 = float(input())

print("ingrese el segundo numero")
num2 = float(input())

resp = num1 + num2
print("la suma es: ", resp)

ingrese el primer numero
10
ingrese el segundo numero
12
la suma es:  22.0

#tipos de datos

In [ ]:
num1 = 5
num2 = 5.9

nombre = "Gilberto Lizama"
print(nombre[0:5], nombre[:5], nombre[-2], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado))

Gilbe Gilbe m rto Lizama
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

EJERCICIO, cree un programa en python que lea un numero y determine si es par o impar.

In [ ]:
num = int(input("ingrese un numero"))
if num % 2 == 0:
  print ("el numero es par", num)
else:
  print("el numero es impar", num)

ingrese un numero3
el numero es impar 3

Conversor de Fahrenheit a Celsius

In [ ]:
def fahrenheit_a_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5.0/9.0
    return celsius
fahrenheit = float(input("Introduce la temperatura en Fahrenheit: "))
celsius = fahrenheit_a_celsius(fahrenheit)
print(f"{fahrenheit} grados Fahrenheit son {celsius:.2f} grados Celsius.")

Introduce la temperatura en Fahrenheit: 100.5
100.5 grados Fahrenheit son 38.06 grados Celsius.

Conversor [Fahrenheit y Celcius] a kelvin

In [ ]:
def fahrenheit_a_kelvin(fahrenheit):
    kelvin = (fahrenheit - 32) * 5.0/9.0 + 273.15
    return kelvin

def celsius_a_kelvin(celsius):
    kelvin = celsius + 273.15
    return kelvin

escala = input("Introduce la escala de la temperatura (F para Fahrenheit, C para Celsius): ").strip().upper()
temperatura = float(input(f"Introduce la temperatura en {escala}: "))

if escala == 'F':
    kelvin = fahrenheit_a_kelvin(temperatura)
elif escala == 'C':
    kelvin = celsius_a_kelvin(temperatura)
else:
    print("Escala no válida.")
    kelvin = None

if kelvin is not None:
 print(f"La temperatura en Kelvin es: {kelvin:.2f} K.")

Introduce la escala de la temperatura (F para Fahrenheit, C para Celsius): f
Introduce la temperatura en F: 100.4
La temperatura en Kelvin es: 311.15 K.

EJERCICIO: elevar un numero al cuadrado

In [ ]:
def elevarCuadrado(base=0,exponente=2):
  return base**exponente

In [ ]:
num = int(input("num: "))
print("cuadrado ", elevarCuadrado(num, 3))

USANDO FUNCIONES LAMBDA

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [ ]:
valor = int(input("num: "))
print("cuadrado: ", elevarCuadradoLambda(valor, 2))

In [ ]:
serie = (5,4,3,2,6,7)
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

EJERCICIO: obtener la raiz cuadrada de una serie de numeros fijos

In [ ]:
def raizCuadrada(base,exponente=0.5):
  return base**exponente

serie = (5,4,3,2,6,7,25)
resp = map(raizCuadrada, serie)
print(list(resp))

[2.23606797749979, 2.0, 1.7320508075688772, 1.4142135623730951, 2.449489742783178, 2.6457513110645907, 5.0]

Ejercicios con funciones preconstruidas en python.

MAP

In [3]:
numeros = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
numeros = [1,2,3,4,5,6,7,8,9,10]
ntabla = int(input("Tabla:"))
print(list(map(lambda n: n*ntabla, numeros))) #tabla de multiplicar

Tabla:10
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

FILTER

In [8]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("pares: ", list(filter(lambda n: n%2==0, numeros))) #obtener solo los numeros pares
print("impares: ", list(filter(lambda n: n%2!=0, numeros))) # obtener solo los numeros impares

pares:  [2, 4, 6, 8, 10]
impares:  [1, 3, 5, 7, 9]

In [9]:
notas = [6,7,4,8,9,10,2,3,4]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))
print("Reprobados: ", list(filter(lambda n: n<=6, notas)))

Aprobados:  [6, 7, 8, 9, 10]
Reprobados:  [6, 4, 2, 3, 4]

REDUCE

In [10]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

Suma:  34

In [11]:
numeros = [7,8,9,10,5,1]
print("Num Mayor: ", reduce(lambda n, mayor: n if n>mayor else mayor, numeros))
print("Num Menor: ", reduce(lambda n, menor: n if n<menor else menor, numeros))

Num Mayor:  10
Num Menor:  1

TUPLAS

In [ ]:
numeros = (5,8,7,9,5,4,7)
print("Tupla: ", numeros, "Primer: ", numeros[0], "ultimos: ", numeros[-1],
"Rango: 2-6 ", numeros[2:6])

Tupla:  (5, 8, 7, 9, 5, 4, 7) Primer:  5 ultimos:  7 Rango: 2-6  (7, 9, 5, 4)

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia: ",semana[0], "; Cuantas veces repite domingo: ",semana.count("domingo"), "; dias de la seman: ", len(semana))

Primer dia:  domingo ; Cuantas veces repite domingo:  1 ; dias de la seman:  7

In [ ]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
year = hoy.year
dia_semana = hoy.isoweekday()

semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre",
"octubre", "noviembre", "diciembre")

print(semana[dia_semana], dia, " de ", meses[mes], " del ", year)

lunes 29  de  agosto  del  2024

In [ ]:
tuplas = ("lius","juan")
print(tuplas)     #Tulas son inmutables, no puede cambiar su valor.

listas = ["lius","juan"]
listas[0] ="pedro"
print(listas)

('lius', 'juan')
['pedro', 'juan']

LISTAS

In [ ]:
listas = [5,8,7,9, "luis", "jonathan", "ramon"]
print(listas, listas[-1])

[5, 8, 7, 9, 'luis', 'jonathan', 'ramon'] ramon

In [ ]:
def obtenerNota(nota, eval):
  return eval[1]*0.3 + nota

In [ ]:
matriz = [ ["Lab1", 8],["lab2",9], ["parcial", 8] ]
reduce(obtenerNota, matriz, 0)

7.5

EJERCICIO ESTRUCTURAS DE CONTROL IF: Solicitar al usuario la edad y determinar su clasificacion.

In [ ]:
edad = int(input("edad: "))
if edad>17:
   print("Bienvenido al mundo de las responsabilidades")

edad: 19
Bienvenido al mundo de las responsabilidades

In [12]:
continuar = "s"
while continuar=="s":
  edad = int(input("edad: "))
  if edad<=-1:
    print("no as nacido")
  elif edad<=3:
    print("eres un bebe")
  elif edad<=12:
    print("eres un niño")
  elif edad<18:
    print("eres un adolescente")
  elif edad<65:
    print("eres un adulto")
  elif edad<85:
    print("eres un adulto mayor")
  else:
    print("Larga vida")
  continuar = input("continuar s,sino cualquier tecla: ")

edad: 10
eres un niño
continuar s,sino cualquier tecla: z

In [ ]:
numero = float(input("Ingrese un número: "))
if numero > 0:
    print("El número es positivo.")
elif numero < 0:
    print("El número es negativo.")
else:
    print("El número es cero")

Ingrese un número: 0
El número es cero no sea mamon.

In [ ]:
continuar = "s"
while continuar=="s":
  tabla = int(input("tabla: "))
  for i in range(1,11):
    print(tabla, "x", i, "=", tabla*i)
  continuar = input("continuar s, sino cualquier tecla: ")